venv/
__pycache__/
 *.pyc
local.ini
.coverage
.idea

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
api/models/dbuser.py
traffic_finder_server/settings.py
