option_settings:
    aws:elasticbeanstalk:application:environment:
        DJANGO_SETTINGS_MODULE: 'traffic_finder_server.settings'
        PROD: 'TRUE'
        PROJ_LIB: 'usr/local/proj'
        CLOUD_BUILD: 'TRUE'
        LD_LIBRARY_PATH: '/usr/local/lib:$LD_LIBRARY_PATH'
        AWS_DEFAULT_REGION: 'us-east-2'
    aws:elasticbeanstalk:container:python:
        WSGIPath: 'traffic_finder_server.wsgi:application'
    aws:autoscaling:launchconfiguration:
        ImageId: 'ami-0ace44ca958cac5cc'
    aws:ec2:instances:
        InstanceTypes: 't2.micro'

commands:
  01_create_file:
    command: "touch /opt/python/log/api.log"
  02_change_permissions:
    command: "chmod g+s /opt/python/log/api.log"
  03_change_owner:
    command: "chown webapp:webapp /opt/python/log/api.log"

container_commands:
  01_wsgipass:
    command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'
  02syncdb:
    command: "django-admin.py syncdb --noinput"
    leader_only: 'true'
  03migrate:
    command: "django-admin.py migrate"
    leader_only: 'true'